<h1>TASKS HOME</h1>
<p>Display a list of all tasks with a link to full page (show view) and option to edit</p>
<table>
<tr>
  <th>Task title</th>
  <th>Description</th>
  <th>Done?</th>
</tr>
<% @tasks.each do |task| %>
<tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.done %></td>
  <td><%= link_to "See more", task_path(:id => task.id) %></td>
</tr>
<% end %>
</table>

<p>Plus delete option - remember to add 'method' in link</p>
<p>Plus link to create new task</p>

